:root {
    --dark-background-color: rgb(56, 12, 12);
    --dark-card-background-color: linear-gradient(white, #444444);
    --dark-navbar:#522c2c;
    --dark-text-color: white;
    /* Nav Bar */
    --dark-active-nav-link-background: rgb(11, 2, 114);
    --dark-active-nav-link-font: white;
    --dark-inactive-nav-link-background:black;
    --dark-inactive-nav-link-font: white;
}

.dark-mode {
    color: var(--dark-text-color);
}

.dark-mode-navbar{
    color:yellow;
}

.dark-mode-nav-links:active {
    color:yellow;
}

.dark-mode-nav-links {
    color: white;
  }
