@import '../color_schemes.css';

:root {
    --dark-background-color: var(--dark-neutral-900);
    --dark-card-background-color: linear-gradient(white, #444444);
    --dark-navbar:var(--dark-scheme-900);
    --dark-text-color: #dae3de;
    /* Nav Bar */
    --dark-active-nav-link-background: #3C7955;
    --dark-active-nav-link-font: var(--dark-neutral-300);
    --dark-inactive-nav-link-background:#3C7955;
    --dark-inactive-nav-link-font: var(--dark-neutral-300);

    /* Access Toolbar */
    --dark-access-toolbar-background: #3C7955;
}

.dark-mode-body {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

/* navbar */
.dark-mode-navbar{
    color: var(--dark-navbar);
}

.dark-mode-nav-links:active {
    color:var(--dark-active-nav-link-font);
}

.dark-mode-nav-links {
    color: var(--dark-inactive-nav-link-font);
  }

/* access toolbar */
.dark-mode-toolbar-container {
    background-color: var(--dark-access-toolbar-background);
}