@import '../color_schemes.css';

:root {
    --light-background-color: var(--light-neutral-100);
    --light-card-background-color: linear-gradient(white, #444444);
    --light-navbar:#344B39;
    --light-text-color: var(--light-neutral-900);
    /* Nav Bar */
    --light-active-nav-link-background: var(--light-neutral-700);
    --light-active-nav-link-font: var(--light-neutral-100);
    --light-inactive-nav-link-background:var(--light-neutral-700);
    --light-inactive-nav-link-font: var(--light-neutral-100);

    /* Access Toolbar */
    --light-access-toolbar-background: #3C7955;
}

.light-mode-body {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

/* navbar */
.light-mode-navbar{
    color: var(--light-navbar);
}

.light-mode-nav-links:active {
    color:var(--light-active-nav-link-font);
}

.light-mode-nav-links {
    color: var(--light-inactive-nav-link-font);
  }

/* access toolbar */
.light-mode-toolbar-container {
    background-color: var(--light-access-toolbar-background);
}