@import '../themes/lightmode.css';
@import '../color_schemes.css';

.light-mode-toolbar-option {
    color:var(--scheme-100);
    background-color: var(--light-scheme-100);
}

.light-mode-toolbar {
    background: var(--light-scheme-100);
}